<div class="divisor-contact"></div>
<div class="contact">
  <div class="dados">
    <h3 class="title">Contato</h3>
    <p>Missao Marta e Maria</p>
    <address>
      Rua Lassance Cunha, 36 - Centro,<br>
      Formiga - MG, 35570-174
    </address>
    <p>Telefone:</p>
    <p class="phone">(37) 99966-8477</p>
  </div>
  <div class="social-media">
    <h3 class="title">Nos siga no Instagram</h3>
    <%= link_to "https://www.instagram.com/missaomartaemaria/", target: "_blank" do %>
      <i class="insta-link fab fa-instagram"></i>
    <% end %>
  </div>
</div>
<div class="divisor-contact-down"></div>
