<div class="container">
  <div class="circle text-center">
    <div class="bloco-donate center-content">
      <%= link_to "Clique para doar", root_path, class: "btn-donate" %>
      <div class="title-donate">
        <p class="text-donate">Doar aos outros é provar a si mesmo que o bem é o que prevalece em seu coração!</p>
      </div>
      <%= image_tag("maos.png", class: "logo-donate") %>
    </div>
  </div>
</div>
